body {
    background-color: rgb(13, 9, 53);
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 30vh;
    padding: 5vh;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    padding: 3vh;
    background-color: rgb(15, 212, 230);
    width: max-content;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
    border-style: solid;
    border-width: 1vh;
    border-radius: 2vh;
    border-color: rgb(6, 103, 112);
    font-size: 3.5vh;
}
.secondborder {
    border-style: solid;
    border-width: 1vh;
    border-radius: 2vh;
    border-color: rgb(76, 41, 202);
}

.disclaimer {
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.075);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
}
.info {
    font-size: 2.5vh;
    color: rgba(255, 255, 255, 0.336);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
    text-decoration-line: none;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
}