body {
    background-color: rgb(13, 9, 53);
    text-align: center;
    margin: 1vh;
}

img {
    width: 30vh;
    padding: 1vh;
}

.btn {
    padding: 3vh;
    background-color: rgb(15, 212, 230);
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
    border-style: solid;
    border-width: 1vh;
    border-radius: 2vh;
    border-color: rgb(6, 103, 112);
    font-size: 3.5vh;
}
.btn-copy {
    padding: 3vh;
    background-color: rgb(58, 230, 15);
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
    border-style: solid;
    border-width: 1vh;
    border-radius: 2vh;
    border-color: rgb(27, 112, 6);
    font-size: 3.5vh;
}


.disclaimer {
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.075);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
}
.info {
    font-size: 2.5vh;
    color: rgba(255, 255, 255, 0.336);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica;
    text-decoration-line: none;
}